<nav class="top-bar">
  <div class="container">
    <nav>
      <ul class="nav-links">
        <li><a class="nav-item" href="/">Home</a></li>
        <li><a class="nav-item" href="/menu/sell">SELL</a></li>
      </ul>
    </nav>

    <div class="icons">
      <a class="icon-link" href="/menu/wishlist">
        <i class="fas fa-heart"></i>
      </a>
      <a class="icon-link" href="/menu/login">
        <i class="fas fa-user"></i>
      </a>
    </div>
  </div>
</nav>
